body {
  margin: 0;
}

.block {
  width: 100%;
}

.block1 {
  height: 50px;
  background-color: lightgray;
}

.block2 {
  height: 60px;
  background-color: gray;
}

.block3 {
  display: flex;
  height: 600px;
}

.left {flex: 1;
  background-color: navy;
  height: 600;
}

.right {
  flex: 2.2;
  background-color: #333; 
}


.block4 {
  height: 60px;
  background-color: maroon;
}
