body {
  margin: 0;
}

.block {
  width: 100%;
}

.block1 {
  height: 50px;
  background-color: #dedfec;
}

.block2 {
  height: 60px;
  background-color: #798393;
}

.block3 {
  display: flex;
  height: 600px;
}

.left {flex: 1;
  background-color: #395795;
  height: 600;
}

.right {
  flex: 2.2;
  background-color: #4d586f; 
}


.block4 {
  height: 60px;
  background-color: #510811;
}
